body {
    background-image: linear-gradient(rgba(2, 34, 41, 0.65), rgba(255, 255, 255, 0.65)), url("../images/b&w-bg2.jpeg");
}
#mainNav {
    background-color: rgba(49, 96, 104, 0.9);
}
.footer {
    background-color: rgba(49, 96, 104, 0.9);
}
.cta {
    background-color: rgba(230, 168, 86, 0.7);
}
a {
    text-decoration: none;
}
a:hover {
text-decoration: underline;
}
.contactme {
    color: white;
}
.page{
    text-decoration: underline;
}
.header {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
}
.youtube {
  justify-content: center;
}
.resumeListHeader {
    font-weight: bold;
    font-style: normal;
}
.resumeList {
    font-weight: normal;
}
.resumeHeader {
    color: black;
    text-decoration: underline;
}
.fancy {
    font-size: xx-large;
}
/* top: 200%;
-ms-transform: translateY(-50%);
  transform: translateY(-50%);*/